{% trans_default_domain 'FOSUserBundle' %}

<div class="bradcam_area bradcam_bg_3">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Modifier mon mot de passe</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid row p-5">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        {% form_theme form 'bootstrap_4_layout.html.twig' %}
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}


            {{ form_label(form.current_password, 'Mot de passe actuel', {label_attr: {style: 'font-size: 18px'} }) }}
            {{ form_widget(form.current_password) }}
            {{ form_errors(form.current_password) }}<br>

            {{ form_label(form.plainPassword.first, 'Nouveau mot de passe', {label_attr: {style: 'font-size: 18px'} }) }}
            {{ form_widget(form.plainPassword.first) }}
            {{ form_errors(form.plainPassword.first) }}<br>

            {{ form_label(form.plainPassword.second, 'Confirmer le nouveau mot de passe', {label_attr: {style: 'font-size: 18px'} }) }}
            {{ form_widget(form.plainPassword.second) }}
            {{ form_errors(form.plainPassword.second) }}<br>

{#            {{ form_widget(form) }}#}
            <div>
                <input type="submit" class="form-control btn-primary btn-block" value="{{ 'change_password.submit'|trans }}" />
            </div>
        {{ form_end(form) }}
    </div>
</div>