{% form_theme form 'bootstrap_4_layout.html.twig' %}
<style type="text/css">
    .modal-backdrop {
        z-index: 0;
    }
</style>
<div class="apply_form_area" style="padding-top: inherit">
    <div class="apply_form">
        {{ form(form, {'method' : 'POST', 'action': path('info_doctor') }) }}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
        <script>
            $(document).ready(function() {
                $('.js-example-basic-multiple').select2({
                    placeholder: "Choisir"
                });
            });
        </script>

        <br><br>
        <div class="text-center">
            <h4>Mes prestations</h4><br>

            {% if (user.prestations | length == 0) %}
                Vous n'avez pas encore ajouté de prestation.

            {% else %}
                {% for prestation in user.prestations %}
                    <div class="row" style="padding-bottom: 5px; text-align: left;">
                        <div class="col-lg-3"><b>{{ prestation.price }} €</b></div>
                        <div class="col-lg-6 text-center">
                            <b>{{ prestation.name }}</b>
                        </div>
                        <div class="col-lg-3">
                            <a href="{{ url('edit_prestation', {id: prestation.id}) }}" style="margin-left: 20px"><b><i class="ti-pencil"></i></b></a>
                            <a href="{{ url('delete_prestation', {id: prestation.id}) }}" style="margin-left: 20px"><b><i class="ti-trash"></i></b></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">{{ prestation.description }}</div>
                    </div><br>
                {% endfor %}
            {% endif %}
            <br><br>
            <button type="button" class="btn btn-block btn-primary btn" data-toggle="modal" data-target="#addPresta">Ajouter une prestation</button>


        </div>

    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="addPresta" tabindex="-1" role="dialog" aria-labelledby="addPrestaLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajouter une prestation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% form_theme formPrestation 'bootstrap_4_layout.html.twig' %}
            {{ form_start(formPrestation, {'method' : 'POST', 'action': path('info_doctor') }) }}
            <div class="modal-body">
                {{ form_errors(formPrestation) }}

                {{ form_row(formPrestation.name) }}

                {{ form_row(formPrestation.description) }}
                {{ form_row(formPrestation.price) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                {{ form_widget(formPrestation.Ajouter) }}
            </div>
            {{ form_end(formPrestation) }}
        </div>
    </div>
</div>

<script>
    // Using this tutorial for autocomplete address : https://www.youtube.com/watch?v=Rpzp0yCAmq4
    function activatePlacesSearch(){
        var options = { componentRestrictions: { country: "fr"} };
        var input = document.getElementById("form_adress");
        var autocomplete = new google.maps.places.Autocomplete(input, options);
    }
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuZviasKN0VON99Nz4I8b_tu6YZDcmrsw&libraries=places&callback=activatePlacesSearch&libraries=places"></script>
