Nom et prénom : {{ data.name }}<br><br>
E-mail : <a href="mailto:{{ data.email }}">{{ data.email }}</a><br><br>
Téléphone : <a href="telto:{{ data.phone }}">{{ data.phone }}</a><br><br>
Message : {{ data.message }}