{% extends 'base.html.twig' %}


{% block body %}
    {# Banner Part #}
    <div class="slider_area">
        <div class="single_slider  d-flex align-items-center slider_bg_1">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-7 col-md-6">
                        <div class="slider_text">
                            <h3 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".1s">Trouve le médecin pour tes cousins</h3>
                            <div class="sldier_btn wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">
                                <a href="#" class="boxed-btn3">Trouver un médecin</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <div class="payment_form white-bg wow fadeInDown" data-wow-duration="1.2s" data-wow-delay=".2s">
                            <div class="info text-center">
                                <h4>Trouver <b>le médecin</b></h4>
                                <p>En deux clics</p>
                            </div>
                            <div class="form">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="single_input">
                                            <select class="form-control wide js-example-tags" id="selectTypeDoctor">
                                                {% for type in typesDoctor %}
                                                    <option value="{{ type.id }}">{{ type.name }}</option>
                                                {% endfor %}
                                            </select>
                                            <script>
                                                $(".js-example-tags").select2({
                                                    tags: true
                                                });
                                            </script>
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="col-lg-12">
                                        <div class="single_input">
                                            <select class="form-control js-example-basic-single" name="city" id="selectCity">
                                                {% for country in countrys %}
                                                    <optgroup label="{{ country.name }}">
                                                        {% for city in country.cities %}
                                                            <option value="{{ city.id }}">{{ city.name }}</option>
                                                        {% endfor %}
                                                    </optgroup>
                                                {% endfor %}
                                            </select>
                                            <script>
                                                $(document).ready(function() {
                                                    $('.js-example-basic-single').select2({
                                                        placeholder: "Ville"
                                                    });
                                                });
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p></p>
                            <div class="submit_btn">
                                <button class="boxed-btn3" type="submit" id="SeeListDoctors">Voir la liste</button>
                            </div>
                            <script>
                                $(document).ready(function(){
                                    $("#SeeListDoctors").click(function() {
                                        selectedCountry = $("#selectCity option:selected").val();
                                        selectedType = $("#selectTypeDoctor option:selected").val();

                                        url = "{{ url('homepage') }}search/" + selectedType + "/" + selectedCountry;
                                        window.location.replace(url)
                                    })
                                })
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
