{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <div class="bradcam_area bradcam_bg_3">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Mes rendez-vous</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container-fluid row">
        {% if app.user.is_doctor == false %}
            <div class="col-lg-4"></div>
            {% else %}
            <div class="col-lg-2"></div>
        {% endif %}
        <div class="col-lg-4 text-center">
            <h3>Pour un proche</h3><br>
            {% for appointment in appointmentsAsBuyer %}
                <div class="generic-blockquote">
                    Rendez-vous avec Dr. {{ appointment.doctor.username }} <br>
                    Payé pour {{ appointment.namePatient }} <br>
                    {{ appointment.prestation.name }}<br>
                    <a class="text-info" href="{{ url('rendez_vous_individuel', {'id': appointment.id}) }}">Voir le détail</a>
                </div><br>
            {% endfor %}
        </div>
        {% if app.user.is_doctor %}
            <div class="col-lg-4 text-center">
                <h3>En tant que docteur</h3><br>
                {% for appointment in appointmentsAsDoctor %}
                    <div class="generic-blockquote">
                        Rendez-vous avec M. {{ appointment.buyer.username }} <br>
                        La date n'a pas encoré été fixée. <b>Proposer une date</b><br>
                        {{ appointment.prestation.name }}<br>
                        <a class="text-info" href="{{ url('rendez_vous_individuel', {'id': appointment.id}) }}">Voir le détail</a>
                    </div><br>
                {% endfor %}
            </div>
        {% endif %}
    </div>

{% endblock %}