{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <div class="bradcam_area bradcam_bg_3">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Mes rendez-vous</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>

    <div class="container-fluid row">
        <div class="col-lg-1"></div>
        <div class="col-lg-5">
            <h2>Rendez-vous avec Dr. {{ appointment.doctor.username }}</h2>
            <b>{{ appointment.prestation.name }}</b> <br>
            <p>{{ appointment.prestation.description }}</p><br>
            {% if appointment.state == constant('App\\Entity\\Appointment::STATUS_UNPAID') %}
                <em>Le paiement n'a pas été pré-autorisé. Cliquez ici pour le faire : <a class="text-danger" href="{{ url('reserver_payer', {"idAppointment": appointment.id}) }}">autoriser le prélévement</a></em>
            {% elseif appointment.state == constant('App\\Entity\\Appointment::STATUS_PAID') %}
{#                <em><a class="text-danger" href="#">Déclarer une erreur</a></em>#}
            {% endif %}
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-4">
            <h2>Le patient</h2>
            Coordonnées du patient - prix recap etc.
            {% if appointment.state == constant('App\\Entity\\Appointment::STATUS_UNPAID') %}
                <em>Le paiement doit être autorisé avant de fixer une date. <a class="text-danger" href="{{ url('reserver_payer', {"idAppointment": appointment.id}) }}">Autoriser le prélévement</a></em>
            {% elseif appointment.state == constant('App\\Entity\\Appointment::STATUS_PAID') %}
                <br><br>
                <a class="btn btn-outline-danger" href="#">Signaler un problème</a>
            {% endif %}
        </div>
    </div>
    {{ dump(appointment) }}

{% endblock %}