{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <div class="bradcam_area bradcam_bg_3">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Mes rendez-vous</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>

    <div class="container-fluid row">
        <div class="col-lg-1"></div>
        <div class="col-lg-5">
            <h2>Rendez-vous avec Mr. {{ appointment.namePatient }}</h2>
            <b>{{ appointment.prestation.name }} - {{ appointment.prestation.price }}€</b> <br>
            <p>{{ appointment.prestation.description }}</p>
            {% if appointment.state == constant('App\\Entity\\Appointment::STATUS_UNPAID') %}
                <em>Le paiement n'a pas été autorisé. La consultation n'est pas encore payée.</em>
            {% elseif appointment.state == constant('App\\Entity\\Appointment::STATUS_PAID') %}
                <em>La consultation a été payée, vous pouvez accepter le patient.</em>
            {% endif %}
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-4">
            <h2>Le patient</h2>
            <b>{{ appointment.namePatient }}</b><br>
            <i class="fa fa-phone"> </i> &nbsp; &nbsp; {{ appointment.phoneNumberPatient }} &nbsp; &nbsp; <br>
            <i class="fa fa-envelope"> </i> &nbsp; &nbsp;  {{ appointment.emailPatient }}<br><br>


            {% if appointment.state == constant('App\\Entity\\Appointment::STATUS_UNPAID') %}
                En attente du paiement du client.
            {% elseif appointment.state == constant('App\\Entity\\Appointment::STATUS_PAID') %}
                <br><br>
                <a class="btn btn-outline-danger" href="#">Signaler un problème</a>
            {% endif %}
        </div>
    </div>
    {{ dump(appointment) }}

{% endblock %}