{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <script src="https://js.stripe.com/v3/"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>


    <div class="bradcam_area bradcam_bg_3">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
    {#                    <h3>{{ prestation.name }} avec Dr. {{ doctor.username }}</h3>#}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid row">
        <div class="col-md-1"></div>
        <div class="col-md-4 text-center" style="padding-top: 1%">
            <h2>{{ prestation.name }} avec Dr. {{ appointment.doctor.username }}</h2>
            <p>{{ prestation.description }}</p><br><br>
            <h3>Détails sur le patient</h3>
            <i class="fa fa-phone"> </i> {{ appointment.phoneNumberPatient }}&nbsp;&nbsp;
            <i class="fa fa-envelope"> </i> {{ appointment.emailPatient }}<br>
            <b>{{ appointment.namePatient }}</b>

        </div>
        <div class="col-md-2"></div>

        <div class="col-md-4 text-center"><br><br>
            <h3>{{ prestation.price + 3 }} €</h3>
            {{ form_start(form, {attr: {id: form.vars.id}}) }}
            <div class="form-group">
                <label for="card-element">
                    Carte de crédit ou de débit <br>
                </label>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Article</th>
                        <th>Prix</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ prestation.name }}</td>
                        <th scope="row">{{ prestation.price }}€</th>
                    </tr>
                    <tr>
                        <td>Frais de gestion</td>
                        <th scope="row">3€</th>
                    </tr>
                    <tr>
                        <th>Total</th>
                        <th>{{ prestation.price + 3 }}€</th>
                    </tr>
                    </tbody>
                </table>
                <div id="card-element" class="form-control"></div>
                <div id="card-errors" class="help-block" role="alert"></div>
            </div>
            {{ form_widget(form.token) }}
            {{ form_end(form) }}
        </div>
    </div>


    <script type="text/javascript">
        var form = document.getElementById('{{ form.vars.id }}');
        var errors = document.getElementById('card-errors');

        var stripe = Stripe('{{ stripe_public_key }}');
        var elements = stripe.elements();
        var card = elements.create('card', {
            hidePostalCode: true,
            style: {
                base: {
                    iconColor: '#666EE8',
                    color: '#31325F',
                    lineHeight: '40px',
                    fontWeight: 300,
                    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                    fontSize: '15px',

                    '::placeholder': {
                        color: '#CFD7E0',
                    },
                },
            }
        });

        card.mount('#card-element');
        card.addEventListener('change', function(event) {
            if (event.error) {
                errors.textContent = event.error.message;
                form.classList.add('has-error');
            } else {
                errors.textContent = '';
                form.classList.remove('has-error');
            }
        });

        form.addEventListener('submit', function(event) {
            event.preventDefault();

            stripe.createToken(card).then(function(result) {
                if (result.error) {
                    errors.textContent = result.error.message;
                    form.classList.add('has-error');
                } else {
                    document.getElementById('{{ form.children.token.vars.id }}').setAttribute('value', result.token.id);
                    form.submit();
                }
            });
        });
    </script>
{% endblock %}