{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <div class="bradcam_area bradcam_bg_3">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>{{ prestation.name }} avec Dr. {{ doctor.username }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid row">
        <div class="col-md-1"></div>
        <div class="col-md-4 text-center" style="padding-top: 1%">
            <h2>{{ prestation.name }} avec Dr. {{ doctor.username }}</h2>
            <p>{{ prestation.description }}</p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5" style="padding-top: 1%">
            <h2 class="text-center">Organiser un rendez-vous pour un proche</h2>
            {{ form_start(form, {'action': url('reserver_rendez_vous', {idDoctor: doctor.id, idPrestation: prestation.id})}) }}

            <div class="row">
                <div class="col-md-6">
                    {{ form_label(form.phoneNumberPatient)}}<p style="font-size: 12px">Il recevra un SMS lui indiquant les démarches à suivre</p>
                    {{ form_widget(form.phoneNumberPatient, {'attr': {'class': 'single-input', 'placeholder': "+336 12 34 56 78"}} ) }}
                    {{ form_errors(form.phoneNumberPatient) }}
                </div>
                <div class="col-md-6">
                    {{ form_label(form.emailPatient)}}<p style="font-size: 12px">Il recevra un e-mail lui indiquant les démarches à suivre</p>
                    {{ form_widget(form.emailPatient, {'attr': {'class': 'single-input', 'placeholder': "example@afromed.co"}} ) }}
                    {{ form_errors(form.emailPatient) }}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    {{ form_label(form.namePatient) }}<p style="font-size: 12px">Il devra ensuite amener sa carte d'identité chez le médecin</p>
                    {{ form_widget(form.namePatient, {'attr': {'class': 'single-input', 'placeholder': 'Nom et prénom du patient'}}) }}
                    {{ form_errors(form.namePatient) }}
                </div>
            </div>
            <br><br>
            <span class="text-center">
                {{ form_row(form.Reserver, {'attr': {'class' : 'genric-btn info circle arrow'}, label: 'Réserver'}) }}
            </span>

            {{ form_end(form) }}

            <br><br>
            <p class="text-center">Vous pouvez payer en espèce en vous rendant au Tibesti : 233 rue des Pyrénées 75020 Paris.</p>

        </div>
    </div>



{% endblock %}