<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Afromed{% endblock %}</title>
        <meta name="description" content="Description du site de yaya">
        <meta name="viewport" content="width=device-width, initial-scale=1">

{#        <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">#}
        {% block stylesheets %}
{#            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">#}
            <!-- CSS here -->
            {{ encore_entry_link_tags('app') }}
            <style>
                * {
                    text-transform: none !important;
                    /*overflow-x: hidden;*/
                }
            </style>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
            <script src="{{'/build/js/vendor/jquery-1.12.4.min.js'}}"></script>
            <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <header>
                <div class="header-area ">
                    <div id="sticky-header" class="main-header-area">
                        <div class="container-fluid ">
                            <div class="header_bottom_border">
                                <div class="row align-items-center">
                                    <div class="col-xl-3 col-lg-2">
                                        <div class="logo">
                                            <a href="{{ url('homepage') }}">
                                                <img src="{{ '/build/images/logo.png' }}" alt="Logo Afromed" style="height: 30%; width: 30%">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-7">
                                        <div class="main-menu  d-none d-lg-block">
                                            <nav>
                                                <ul id="navigation">
                                                    <li><a href="{{ url('homepage') }}">Accueil</a></li>
{#                                                    <li><a href="{{ url('register_doctor') }}">Je suis médecin</a></li>#}
                                                    {% if app.user.id is defined %}
                                                    <li><a href="#">Mes informations <i class="ti-angle-down"></i></a>
                                                        <ul class="submenu">
                                                            <li><a href="{{ url('fos_user_profile_show') }}">Mon profil</a></li>
                                                            <li><a href="{{ url('mes_rendez_vous') }}">Mes rendez-vous</a></li>
                                                        </ul>
                                                    </li>
                                                    {% endif %}
                                                    {% if app.user.id is not defined %}
                                                        <li><a href="{{ url('fos_user_security_login') }}">Connexion</a></li>
                                                    {% endif %}
{#                                                    <li><a href="#">blog <i class="ti-angle-down"></i></a>#}
{#                                                        <ul class="submenu">#}
{#                                                            <li><a href="#">blog</a></li>#}
{#                                                            <li><a href="#">single-blog</a></li>#}
{#                                                        </ul>#}
{#                                                    </li>#}
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                        <div class="Appointment">
{#                                            <div class="phone_num d-none d-xl-block">#}
{#                                                <a href="#"> <i class="fa fa-phone"></i> +336 66 66 66 66</a>#}
{#                                            </div>#}
                                            <div class="d-none d-lg-block">
                                                <a class="boxed-btn4" href="{{ url('register_doctor') }}">Je suis médecin</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mobile_menu d-block d-lg-none"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </header>
        {% endblock %}
        {% block body %}
        {% endblock %}
        {% block javascripts %}
{#            <script src="https://kit.fontawesome.com/d63d6c8cb5.js" crossorigin="anonymous"></script>#}
{#            {{ encore_entry_script_tags('app') }}#}

            <script src="{{'/build/js/vendor/modernizr-3.5.0.min.js'}}"></script>
            <script src="{{'/build/js/popper.min.js'}}"></script>
            <script src="{{'/build/js/bootstrap.min.js' }}"></script>
            <script src="{{'/build/js/owl.carousel.min.js' }}"></script>
            <script src="{{'/build/js/isotope.pkgd.min.js' }}"></script>
            <script src="{{'/build/js/ajax-form.js' }}"></script>
            <script src="{{'/build/js/waypoints.min.js' }}"></script>
            <script src="{{'/build/js/jquery.counterup.min.js' }}"></script>
            <script src="{{'/build/js/imagesloaded.pkgd.min.js' }}"></script>
            <script src="{{'/build/js/scrollIt.js' }}"></script>
            <script src="{{'/build/js/jquery.scrollUp.min.js' }}"></script>
            <script src="{{'/build/js/wow.min.js' }}"></script>
            <script src="{{'/build/js/nice-select.min.js' }}"></script>
            <script src="{{'/build/js/jquery.slicknav.min.js' }}"></script>
            <script src="{{'/build/js/jquery.magnific-popup.min.js' }}"></script>
            <script src="{{'/build/js/plugins.js' }}"></script>
            <script src="{{'/build/js/gijgo.min.js' }}"></script>
            <script src="{{'/build/js/slick.min.js' }}"></script>

            <!--contact js-->
            <script src="{{'/build/js/contact.js'}}"></script>
            <script src="{{'/build/js/jquery.ajaxchimp.min.js'}}"></script>
            <script src="{{'/build/js/jquery.form.js'}}"></script>
            <script src="{{'/build/js/jquery.validate.min.js'}}"></script>
            <script src="{{'/build/js/mail-script.js'}}"></script>
            <script src="{{'/build/js/main.js'}}"></script>

{#            <script#}
{#                    src="https://code.jquery.com/jquery-3.4.1.min.js"#}
{#                    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="#}
{#                    crossorigin="anonymous"></script>#}
{#            <script>#}
{#                jQuery = $#}
{#            </script>#}
{#            <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>#}
        {% endblock %}
    </body>
</html>
