<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Santé Universelle{% endblock %}</title>
        <meta name="description" content="Prenez soin de vos proche à l'étranger grâce à Santé Universelle. Réservez pour eux des rendez-vous chez le médecin quand ils en ont besoin.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" type="image/x-icon" href="{{ '/build/images/logo.png' }}">
        {% block stylesheets %}
{#            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">#}
            <!-- CSS here -->
            {{ encore_entry_link_tags('app') }}
            <style>
                * {
                    text-transform: none !important;
                    /*overflow-x: hidden;*/
                }
            </style>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
            <script src="{{'/build/js/vendor/jquery-1.12.4.min.js'}}"></script>
            <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
        {% endblock %}
    </head>
    <body>
        {% block header %}
            {% if app.user and app.user.is_doctor and app.request.headers.get('referer') == url('fos_user_security_login')  %}
            <script>
                $(document).ready(function(){
                    document.location.href = "{{ url('fos_user_profile_show') }}"
                })
            </script>
            {% endif %}
            <header>
                <div class="header-area ">
                    <div id="sticky-header" class="main-header-area">
                        <div class="container-fluid ">
                            <div class="header_bottom_border">
                                <div class="row align-items-center">
                                    <div class="col-xl-3 col-lg-2">
                                        <div class="logo">
                                            <a href="{{ url('homepage') }}">
                                                <img src="{{ '/build/images/logo.png' }}" alt="Logo Afromed" style="height: 30%; width: 30%">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-7">
                                        <div class="main-menu  d-none d-lg-block">
                                            <nav>
                                                <ul id="navigation">
{#                                                    <li><a href="{{ url('homepage') }}">Accueil</a></li>#}
{#                                                    <li><a href="{{ url('register_doctor') }}">Je suis médecin</a></li>#}
                                                    {% if app.user.id is defined %}
                                                    <li><a href="{{ url('fos_user_profile_show') }}">Mes informations <i class="ti-angle-down"></i></a>
                                                        <ul class="submenu">
                                                            <li><a href="{{ url('fos_user_profile_show') }}">Mon profil</a></li>
                                                            <li><a href="{{ url('mes_rendez_vous') }}">Mes rendez-vous</a></li>
                                                        </ul>
                                                    </li>
                                                    {% endif %}
                                                    {% if app.user.id is not defined %}
                                                        <li><a href="{{ url('fos_user_security_login') }}">Connexion</a></li>
                                                    {% endif %}
                                                    <li><a href="{{ url('search_doctor') }}">Trouver un médecin</a></li>
                                                    <li><a href="{{ url('demander_un_don') }}">Demander un don</a></li>
                                                    <li><a href="{{ url('offrir_soin') }}">Offrir un soin</a></li>
{#                                                    <li><a href="#">blog <i class="ti-angle-down"></i></a>#}
{#                                                        <ul class="submenu">#}
{#                                                            <li><a href="#">blog</a></li>#}
{#                                                            <li><a href="#">single-blog</a></li>#}
{#                                                        </ul>#}
{#                                                    </li>#}
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                        <div class="Appointment">
{#                                            <div class="phone_num d-none d-xl-block">#}
{#                                                <a href="#"> <i class="fa fa-phone"></i> +336 66 66 66 66</a>#}
{#                                            </div>#}
                                            <div class="d-none d-lg-block">
                                                <a class="boxed-btn4" href="{{ url('register_doctor') }}">Inscription médecin</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="mobile_menu d-block d-lg-none"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </header>


        {% endblock %}
        {% block body %}
        {% endblock %}
        {% block footer %}


            {% for type, messages in app.session.flashbag.all() %}
                <br><br>
                {% for message in messages %}
                    <div class="row container-fluid" style="position:fixed; top: 100px; left: 5%; overflow: hidden" >
                        <div class="col-lg-2"></div>
                        <div class="center alert alert-{{ type }} col-lg-2">
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
            <!-- footer start -->
            <footer class="footer">
                <div class="footer_top">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-4 col-md-6 col-lg-3">
                                <div class="footer_widget wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                                    <div class="footer_logo">
                                        <a href="#">
                                            <img src="{{ '/build/images/logo.png' }}" width="50%" alt="Logo Afromed">
                                        </a>
                                    </div>
                                    <p>
                                        contact@afromed.co <br>
                                        +336 66 66 66 66 <br>
                                        123 Rue de la chance, Paris
                                    </p>
                                    <div class="socail_links">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="ti-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-google-plus"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 col-lg-4">
                                <div class="footer_widget wow fadeInUp" data-wow-duration="1.1s" data-wow-delay=".4s">
                                    <h3 class="footer_title">
                                        Services
                                    </h3>
                                    <ul>
                                        <li><a href="{{ url('homepage') }}">Accueil</a></li>
                                        <li><a href="{{ url('search_doctor') }}">Trouver un médecin </a></li>
                                        <li><a href="{{ url('fos_user_registration_register') }}">S'inscrire</a></li>
                                        <li><a href="{{ url('fos_user_security_login') }}">Se connecter</a></li>
                                    </ul>

                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 col-lg-4">
                                <div class="footer_widget wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".5s">
                                    <h3 class="footer_title">
                                        Liens utiles
                                    </h3>
                                    <ul>
                                        <li><a href="{{ url('contact') }}">Nous contacter</a></li>
                                        <li><a href="{{ url('CGU_CGV_RGPD') }}">CGU/CGV & RGPD</a></li>
                                        <li><a href="{{ url('mentions_legales') }}">Mentions légales</a></li>
                                        <li><a href="{{ url('qui_sommes_nous') }}">Qui sommes-nous ?</a></li>
                                    </ul>
                                </div>
                            </div>
{#                            <div class="col-xl-4 col-md-6 col-lg-4">#}
{#                                <div class="footer_widget wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".6s">#}
{#                                    <h3 class="footer_title">#}
{#                                        Subscribe#}
{#                                    </h3>#}
{#                                    <form action="#" class="newsletter_form">#}
{#                                        <input type="text" placeholder="Enter your mail">#}
{#                                        <button type="submit">Subscribe</button>#}
{#                                    </form>#}
{#                                    <p class="newsletter_text">Esteem spirit temper too say adieus who direct esteem esteems#}
{#                                        luckily.</p>#}
{#                                </div>#}
{#                            </div>#}
                        </div>
                    </div>
                </div>
            </footer>
            <!--/ footer end  -->

        {% endblock %}
        {% block javascripts %}
{#            <script src="https://kit.fontawesome.com/d63d6c8cb5.js" crossorigin="anonymous"></script>#}
{#            {{ encore_entry_script_tags('app') }}#}

            <script src="{{'/build/js/vendor/modernizr-3.5.0.min.js'}}"></script>
            <script src="{{'/build/js/popper.min.js'}}"></script>
            <script src="{{'/build/js/bootstrap.min.js' }}"></script>
            <script src="{{'/build/js/owl.carousel.min.js' }}"></script>
            <script src="{{'/build/js/isotope.pkgd.min.js' }}"></script>
            <script src="{{'/build/js/ajax-form.js' }}"></script>
            <script src="{{'/build/js/waypoints.min.js' }}"></script>
            <script src="{{'/build/js/jquery.counterup.min.js' }}"></script>
            <script src="{{'/build/js/imagesloaded.pkgd.min.js' }}"></script>
            <script src="{{'/build/js/scrollIt.js' }}"></script>
            <script src="{{'/build/js/jquery.scrollUp.min.js' }}"></script>
            <script src="{{'/build/js/wow.min.js' }}"></script>
            <script src="{{'/build/js/nice-select.min.js' }}"></script>
            <script src="{{'/build/js/jquery.slicknav.min.js' }}"></script>
            <script src="{{'/build/js/jquery.magnific-popup.min.js' }}"></script>
            <script src="{{'/build/js/plugins.js' }}"></script>
            <script src="{{'/build/js/gijgo.min.js' }}"></script>
            <script src="{{'/build/js/slick.min.js' }}"></script>

            <!--contact js-->
            <script src="{{'/build/js/contact.js'}}"></script>
            <script src="{{'/build/js/jquery.ajaxchimp.min.js'}}"></script>
            <script src="{{'/build/js/jquery.form.js'}}"></script>
            <script src="{{'/build/js/jquery.validate.min.js'}}"></script>
            <script src="{{'/build/js/mail-script.js'}}"></script>
            <script src="{{'/build/js/main.js'}}"></script>
            <script src="{{'/build/intlinput/js/intlTelInput.js'}}"></script>


{#            <script#}
{#                    src="https://code.jquery.com/jquery-3.4.1.min.js"#}
{#                    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="#}
{#                    crossorigin="anonymous"></script>#}
{#            <script>#}
{#                jQuery = $#}
{#            </script>#}
{#            <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>#}
        {% endblock %}

        {% block javascript2 %}
        {% endblock %}
    </body>
</html>
