{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
<div class="bradcam_area bradcam_bg_3">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>{{ prestation.name }} avec Dr. {{ doctor.username }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="container-fluid row">
        <div class="col-md-6 text-center" style="padding-top: 1%">
            <h2>{{ prestation.name }} avec Dr. {{ doctor.username }}</h2>
            <p>{{ prestation.description }}</p>
        </div>
        <div class="col-md-6"></div>
    </div>



{% endblock %}